@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;700&family=Roboto+Slab:wght@700&display=swap");
@import "tailwindcss";

:root {
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@theme {
  --font-serif: "Roboto Slab", serif;
  --font-sans: "Hind Madurai", sans-serif;
}
